body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  line-height: 1.5;
  padding: 45px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-sizing: border-box;
  color: #24292e;
  max-width: 1480px;
}

h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

h2 {
  padding-top: 0.5em;
}

.distribChart {
  min-width: 310px;
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
  padding-top: 24px;
  border: 1px solid #ddd;
}

#knowledgeChart {
  padding-top: 24px;
  min-width: 310px;
  max-width: 1480px;
  height: 600px;
  margin: 0 auto;
}

input[type=submit] {
  padding-left: 2em;
  padding-right: 2em;
}

.centered {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.right {
  text-align: right;
}

label {
  padding-left: 2em;
}

input[type=text] {
  width: 3.5em;
}

p {
  max-width: 1024px;
}

input {
  font-size: 12px;
}

